<!-- <div class="header-unlogin">
  <a href="/" class="logo hidden-logo">BOOKKOOB</a>

  <div class="header-search btn-search header-search__hidden">
    <ion-icon class="search-icon" name="search-outline"></ion-icon>

    <input
      class="search-input"
      class="search-input search-input__hidden"
      type="text"
      placeholder="Tên sách, tác giả bạn muốn tìm"
    />

    <button class="card-item__find card-item__find-block" type="">Tìm</button>

    <div class="header__search-history header__search-history-hidden">
      <h3 class="header__search-history-heading">Lịch sử tìm kiếm</h3>
      <ul class="header__search-history-list">
        <li class="header__search-history-item">
          <a href="">Nam Cao</a>
        </li>
        <li class="header__search-history-item">
          <a href="">Chí Phèo</a>
        </li>
      </ul>
    </div>
  </div>


  <nav class="navigation">
    <button class="btnLogin">Login</button>
  </nav>
</div>

<%- include('modalLogin') -%> -->

<div class="header-unlogin">
  <a href="/" class="logo logo_unlogin hidden-logo">BOOKKOOB</a>

  <div class="header-search btn-search header-search__hidden">
    <ion-icon class="search-icon" name="search-outline"></ion-icon>

    <input
      id="search-input"
      class="search-input search-input__hidden"
      type="text"
      placeholder="Tên sách, tác giả bạn muốn tìm"
    />

    <button class="card-item__find card-item__find-block" type="">Tìm</button>

    <div class="header__search-history header__search-history-hidden">
      <h3 class="header__search-history-heading">Lịch sử tìm kiếm</h3>
      <ul class="header__search-history-list">
        <li class="header__search-history-item">
          <a href="">Nam Cao</a>
        </li>
        <li class="header__search-history-item">
          <a href="">Chí Phèo</a>
        </li>
      </ul>
    </div>
  </div>

  <nav class="navigation">
    <!-- <button class="btnLogin">Login</button> -->
    <a href="/login" class="btnLogin">Login</a>
  </nav>
</div>

<!-- <%- include('modalLogin') -%> -->