<ul class="pagination home-product__pagination">
  <li class="pagination-item">
    <a href="" class="pagination-item__link">
      <ion-icon
        class="pagination-item__icon"
        name="chevron-back-outline"
      ></ion-icon>
    </a>
  </li>

  <li class="pagination-item">
    <a href="" class="pagination-item__link pagination-item__link--active">1</a>
  </li>

  <li class="pagination-item">
    <a href="" class="pagination-item__link">2</a>
  </li>
<!-- 
  <li class="pagination-item">
    <a href="" class="pagination-item__link">3</a>
  </li> -->

  <!-- <li class="pagination-item">
    <a href="" class="pagination-item__link">4</a>
  </li>

  <li class="pagination-item">
    <a href="" class="pagination-item__link">5</a>
  </li> -->

  <li class="pagination-item">
    <a href="" class="pagination-item__link">...</a>
  </li>

  <li class="pagination-item">
    <a href="" class="pagination-item__link">14</a>
  </li>

  <li class="pagination-item">
    <a href="" class="pagination-item__link">
      <i class="pagination-item__icon fas fa-chevron-right"></i>
      <ion-icon
        class="pagination-item__icon"
        name="chevron-forward-outline"
      ></ion-icon>
    </a>
  </li>
</ul>
