  <nav class="category">
    <h3 class="category__heading">
      <ion-icon class="category__heading-icon" name="list-outline"></ion-icon>
      Danh mục
    </h3>

    <ul class="category-list category-list__mobile">
      <li class="category-item category-item--active">
        <a href="#" class="category-item__links">Toàn bộ sách</a>
      </li>
      <li class="category-item">
        <a href="#" class="category-item__link">Văn học Việt Nam</a>
      </li>
      <li class="category-item">
        <a href="#" class="category-item__link">Văn học nước ngoài</a>
      </li>
      <li class="category-item">
        <a href="#" class="category-item__link">Truyện tranh</a>
      </li>
      <li class="category-item">
        <a href="#" class="category-item__link">Tiểu thuyết</a>
      </li>
      <li class="category-item">
        <a href="#" class="category-item__link">Sách thiếu nhi</a>
      </li>
    </ul>
  </nav>

