<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Đổi mật khẩu</title>
    <!--  font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;500;600&display=swap"
      rel="stylesheet"
    />
    <!-- my css -->
    <link rel="stylesheet" href="../css/allbook.css" />
    <link rel="stylesheet" href="../css/css.css" />
    <link rel="stylesheet" href="../css/details.css" />
    <link rel="stylesheet" href="../css/onlogin.css" />
    <link rel="stylesheet" href="../css/responsive.css" />
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <!-- icon -->
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
  </head>
  <body>
    <div class="app">
      <!-- <header> -->
      <div class="">
        <div class="header-unlogin">
          <a href="InfoAdmin.htm" class="logo hidden-logo">BOOKKOOB</a>

          <div class="header-search btn-search header-search__hidden">
            <ion-icon class="search-icon" name="search-outline"></ion-icon>

            <input
              id="search-input"
              class="search-input search-input__hidden"
              type="text"
              placeholder="Tên sách, tác giả bạn muốn tìm"
            />

            <button class="card-item__find card-item__find-block" type="">
              Tìm
            </button>
          </div>

          <div class="info-admin">
            <h5 id="username"></h5>
            <img src="../img/user.png" alt="" class="info-admin__img" />
            <div class="header__cart-list">
              <h4 class="header__cart-heading">Quản lý sách</h4>
              <ul class="header__cart-list-item">
                <li class="header__cart-item">
                  <a href="AllBook.htm" class="header__cart-item-info"
                    >Tất cả sách</a
                  >
                </li>

                <li class="header__cart-item">
                  <a href="AllCategory.htm" class="header__cart-item-info"
                    >Thể loại</a
                  >
                </li>

                <li class="header__cart-item">
                  <a href="AllOrder.htm" class="header__cart-item-info">
                    Thông tin đặt sách
                  </a>
                </li>

                <li class="header__cart-item">
                  <a href="AllCustomer.htm" class="header__cart-item-info"
                    >Thông tin khách hàng</a
                  >
                </li>

                <li class="header__cart-item">
                  <a href="InfoAdmin.htm" class="header__cart-item-info"
                    >Thông tin của bạn</a
                  >
                </li>

                <li class="header__cart-item">
                  <a href="LoginAdmin.htm" class="header__cart-item-info"
                    >Đăng xuất</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <!-- Container -->
      <div class="container_">
        <div class="container update">
          <h2 class="update-header">Đổi mật khẩu</h2>
          <!-- <div id="reUpdate"> -->
            <form id="passwordForm">
              <p>
                <label class="update-label">Mật Khẩu Hiện Tại</label>
                <input
                  class="w3-input"
                  type="password"
                  id="currentPassword"
                  name="currentPassword"
                  required
                />
                <span class="current"></span>
              </p>
              <br />

              <p>
                <label class="update-label">Mật Khẩu Mới</label>
                <input
                  class="w3-input"
                  type="password"
                  id="newPassword"
                  name="newPassword"
                  required
                />
                <span class=""></span>
              </p>
              <br />

              <p>
                <label class="update-label">Xác Nhận Lại Mật Khẩu</label>
                <input
                  class="w3-input"
                  type="password"
                  id="confirmPassword"
                  name="confirmPassword"
                  required
                />
                <span class="confirm"></span>
              </p>
              <br />

              <div class="btnFlex">
                <button
                  id="cancelChangePass"
                  class="btn-center1 w3-button w3-teal"
                  type="reset"
                >
                <ion-icon name="refresh-outline"></ion-icon>
                </button>
                <button
                  id="updatePass"
                  class="btn-center1 w3-button w3-teal"
                  type="submit"
                >
                  Cập Nhật
                </button>
              </div>
            </form>
          <!-- </div> -->
        </div>

        <div
          class="modal fade"
          id="successModal"
          tabindex="-1"
          role="dialog"
          aria-labelledby="successModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <div class="modal-body">Cập nhật thành công!</div>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn-modal btn btn-danger"
                  data-dismiss="modal"
                >
                  Đóng
                </button>
              </div>
            </div>
          </div>
        </div>

        <div
          class="modal fade"
          id="failModal"
          tabindex="-1"
          role="dialog"
          aria-labelledby="successModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <div class="modal-body">Cập nhật thất bại!</div>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn-modal btn btn-danger"
                  data-dismiss="modal"
                >
                  Đóng
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <script src="/js/action.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        axios
          .get(`http://localhost:3000/api/infoAdmin`)
          .then((response) => {
            const dataAdmin = response.data.dataAdmin;

            const username = document.getElementById("username");
            username.innerText = `${dataAdmin.username}`;

            const btnUpdatePass = document.getElementById("passwordForm");
            btnUpdatePass.addEventListener("submit", function (e) {
              e.preventDefault();

              const currentPassword = document.querySelector(
                'input[name="currentPassword"]'
              ).value;
              const newPassword = document.querySelector(
                'input[name="newPassword"]'
              ).value;
              const confirmPassword = document.querySelector(
                'input[name="confirmPassword"]'
              ).value;

              const invalidCurent = document.querySelector(".current");
              const invalidConfirm = document.querySelector(".confirm");

              const password = dataAdmin.password;
              if (currentPassword !== password) {
                invalidCurent.textContent = "Mật khẩu hiện tại không đúng!";
                return;
              }

              if (newPassword !== confirmPassword) {
                invalidConfirm.textContent = "Mật khẩu xác nhận không khớp!";
                return;
              }

              // Gửi yêu cầu cập nhật mật khẩu đến máy chủ
              const updateData = {
                currentPassword: currentPassword,
                newPassword: newPassword,
              };

              axios
                .post("http://localhost:3000/api/updatePassAdmin", updateData)
                .then((response) => {
                  $("#successModal").modal("show");
                  setTimeout(function () {
                    window.location.href = "infoAdmin.htm";
                  }, 2000);
                })
                .catch((error) => {
                  $("#failModal").modal("show");

                  setTimeout(function () {}, 2000);
                });
            });
          })
          .catch((error) => {
            alert("Không thể tải trang cập nhật");
            window.location.href = "infoAdmin.htm";
          });
      });
    </script>

    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
